body{
  background:#3c3c3c;
  color:#fafafa;
  font-family: 'メイリオ', Meiryo,'Hiragino Kaku Gothic ProN','ヒラギノ角ゴ ProN W3',sans-serif;
}
#menu{
  position:fixed;
  background:#5c5c5c;
  width:100%;
  height:70px;
  top:0;
  left:0;
  cursor: default;
  z-index: 100;
}
.menuLink{
  display:inline-block;
  background:#2c2c2c;
  color:#fafafa;
  text-decoration: none;
  padding-right:5px;
  padding-left:5px;
  border-radius:2px;
  transition-duration: 0.2s;
}
.menuLink:hover{
    background:#4c4c4c;
}
.page{
  position:absolute;
  top:80px;
  left:0px;
  width:calc(100% - 30px);
  background:#3c3c3c;
  width:100%;
  height:calc(100% - 80px);
}
.page a{
  color:#fafafa;
}
#home{
  text-align:center;
  z-index: 2;
}
#view{
  position: absolute;
  left:0;
  width:calc(100% - 20px);
  height:300px;
  border:#fafafa 1px solid;
}
.CodeMirror{
  font-family: meiryo;
  font-size:11pt;
}
#filename{
  width:20em;
}
#makercore{
  position: absolute;
  top:40px;
  width:100%;
}